/*manage booking*/
.bg-cover{
  background-image: url(/assets/img/bg/mohamed-osama-qoyFxkolN40-unsplash.jpg);
  margin-bottom: -49px;
}
.max-w-4xl {
  max-width: 60rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-base{
    margin: auto;
    color: #fff;
    
  }

  .text-4xl{
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  }
  .text-sm{
    color: rgb(255, 255, 255);
  }
  .grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .grid {
    display: grid;
    margin: 0;
  }
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  .grid-cols-2{
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  .py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .p-5 {
    padding: 1.25rem;
  }
  
